@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');

:root {
  --black: #1e1e1e;
  --wenge: #5a4e4d;
  --pomp: #726e97; /* pomp and power */
  --rose: #d98c8c; /* old rose */
  --bone: #e8d9c3;
  --asparagus: #7a9376;

  font-family: "Space Grotesk", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #f0f4f6;
}

.scene-text {
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.15rem;
  line-height: 1.7;
  color: var(--black);
  max-width: 640px;
  text-align: left;
}

.scene-text strong, .full-width-text strong {
  color: var(--rose);
  font-weight: 600;
}

.scene-text em, .full-width-text em {
  color: #a2bba0;
  font-weight: 600;
}

.full-width-text {
  justify-content: center;
  align-items: center;
}

.thought {
  font-family: "Caveat", sans-serif;
  font-size: x-large;
}

.interactive-element {
  background-color: #e3dede;
  border: 2px solid var(--wenge);
  border-radius: 16px;
  text-align: center;
  box-shadow: 4px 4px 10px rgba(90, 78, 77, 0.1);
  color: var(--wenge);
  font-family: "Space Grotesk", sans-serif;
  padding: 20px;
  font-size: large;
}

sup {
  font-size: 50%;
}

.source-list li[id],
.subtitle-list li[id],
[id^="ref-"] {
  scroll-margin-top: 40vh; /* or whatever height you want */
}

